@use "../utils/variables" as v;
@use "../utils/extends";


.team{
    background-color: v.$light-gray;
    h2{
        @extend titles-h2;
        padding-bottom: 50px;
    }
    &__cards{
    @extend images-row;
    }
}
.team--card{
    width: 270px;
    height: 428px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    h4{
        text-align: center;
        letter-spacing: 0.03rem;
        padding: 15px 0; 
    }
    p{
        text-align: center;
        color: v.$gray-text-color;
        letter-spacing: 0.03rem;
    }
}
.team--social{
    @extend images-row;
    font-size: 20px;
    justify-content: space-around;
    margin: 20px auto;
    width: 80%;
    li {
        border-radius: 50%;
        text-align: center;
        line-height: 2.3;
        width: 44px;
        height: 44px;
    }
    a{
        color: v.$lighter-gray;
        display: block;
        text-decoration: none;
    }
    a:hover, a:focus{
        background: v.$brand-color;
        color: v.$white-color;
        border-radius: 50%;
        text-align: center;
        line-height: 2.3;
        width: 44px;
        height: 44px;
    }
}